@page "/"

<PageTitle>Bill Payment Service</PageTitle>

<div class="top-row px-4">
    <div class="grid">    
        <div class="grid__col -col-12 -col-sm-8 -off-sm-2 -col-md-8 -off-md-2">
            <h2 class="title -h3">Bill payment</h2>
            <form name="cooperation" method="post" novalidation="novalidation">
                 <h3 class="form__header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Customer information</font></font></font></font></h3> 
                 <div class="grid"> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_company" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Name</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="text" id="cooperation_applicant_company" name="cooperation[applicant][company]" required="" placeholder="Name" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_contactPerson" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Surname</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="text" id="cooperation_applicant_contactPerson" name="cooperation[applicant][contactPerson]" required="" placeholder="Surname" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                 </div> 
                 <div class="grid"> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_email" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email Address</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="email" id="cooperation_applicant_email" name="cooperation[applicant][email]" required="" placeholder="Email Address" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_phone" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telephone number</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="tel" id="cooperation_applicant_phone" name="cooperation[applicant][phone]" required="" placeholder="+ XX XXX XXX XXX" maxlength="30" data-input-mask="" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                 </div> 
                 <div class="grid"> 
                  <div class="grid__col -col-xl-3"> 
                   <div class="form__row "> <label for="cooperation_applicant_city" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">City</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="text" id="cooperation_applicant_city" name="cooperation[applicant][city]" required="" placeholder="City" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                  <div class="grid__col -col-xl-3"> 
                   <div class="form__row "> <label for="cooperation_applicant_postCode" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zip Code</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="text" id="cooperation_applicant_postCode" name="cooperation[applicant][postCode]" required="" placeholder="XX-XXX" maxlength="6" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_address" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Address</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input type="text" id="cooperation_applicant_address" name="cooperation[applicant][address]" required="" placeholder="Address" class="form__input"> 
                    </div> 
                   </div> 
                  </div> 
                 </div>
                 <div class="form__row -tight"> 
                  <div class="form__inner">            
                  </div> 
                 </div> 
                 <a href="/issuer" id="cooperation_submit" name="cooperation[submit]" class="button cooperation__form-submit" disabled="disabled"> Continue <span class="icon button__icon -right"> 
                 <svg>
                    <use xlink:href="#icon-arrow-right"></use>
                   </svg> </span> </a>          
            </form>      
        </div>
    </div>
</div>


@code 
{
    
    private string enabled()
    {
        return "-disabled";
    }
}