@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@page "/"
<div class="top-row px-4">
    <div class="grid">    
        
        <div class="grid__col -col-12 -col-sm-8 -off-sm-2 -col-md-8 -off-md-4">         
            <a href="/" title="KAR-TEL">
                <img src="https://kar-tel.pl/static/images/logo.png" alt="KAR-TEL">
            </a>
            <h2 class="title -h3">Login</h2>
            <form name="cooperation" method="post" novalidation="novalidation">
                 <h3 class="form__header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Please enter Kar-tel credentials</font></font></font></font></h3> 
                 <div class="grid"> 
                  <div class="grid__col -col-xl-6"> 
                   <div class="form__row "> <label for="cooperation_applicant_company" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Username</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label> 
                    <div class="form__inner"> 
                     <input @bind=request.Username type="text" id="cooperation_applicant_company" name="cooperation[applicant][company]" required="" placeholder="username" class="form__input"> 
                    </div> 
                   </div>
                        <div class="form__row ">
                            <label for="cooperation_applicant_contactPerson" class="form__label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password</font></font></font></font><span class="form__label-asterisk"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">:</font></font></font></font></label>
                            <div class="form__inner">
                                <input @bind=request.Password type="password" id="cooperation_applicant_contactPerson" name="cooperation[applicant][contactPerson]" required="" placeholder="" class="form__input">
                            </div>
                        </div>
                    </div> 
                  <div class="grid__col -col-xl-6"> 
                   
                  </div> 
                 </div>             
                 <div class="form__row -tight"> 
                  <div class="form__inner">            
                  </div> 
                 </div>
                  <div class="grid"> 
                  <div class="grid__col -col-xl-6">
                        <a @onclick=OK id="cooperation_submit" name="cooperation[submit]" class="button cooperation__form-submit" disabled="disabled">
                            Continue <span class="icon button__icon -right">
                                <svg>
                                    <use xlink:href="#icon-arrow-right"></use>
                                </svg>
                            </span>
                        </a>                        
                  </div>
                  </div>                                                        
            </form>      
        </div>
    </div>
</div>

@code {
    private Request request = new Request();

    public async void OK()
    {
        await sessionStorage.SetItemAsStringAsync("kartelusername", "paskal");
        await sessionStorage.SetItemAsync<Request>("request", request);
        NavManager.NavigateTo("/bill");               
    }
}
