@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http

@page "/summary"

<section class="section contact">
    <div class="container section__container">
        <h2 class="title -h3">Overview</h2>
        <div>
            <div class="row">            
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">                    
                    <div class="aside">
                        <div class="aside__header">
                            <h3 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payer Information</font></font></h3>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                    <svg>
                                        <use xlink:href="#icon-map"></use>
                                    </svg>
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@current?.CustomerName</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ul. </font><font style="vertical-align: inherit;">Street 1234</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">61-586 Poznań</font></font></p>
                        </div>
                    </div>
                </div>
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">
                    <div class="aside">
                        <div class="aside__header">
                            <h2 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Issuer Information</font></font></h2>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                   
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@current?.Issuer</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ul. </font><font style="vertical-align: inherit;">Street 1234</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">61-586 Poznań</font></font></p>
                        </div>
                    </div>                    
                </div>
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">
                    <div class="aside">
                        <div class="aside__header">
                            <h2 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bill Details</font></font></h2>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
                                        <path d="M9.5,2.1L1.1,0C1,0,0.8,0,0.7,0.1C0.6,0.2,0.5,0.4,0.5,0.5v16.9c0,0.2,0.2,0.4,0.4,0.5L9.5,20V2.1z M7.8,17.9l-5.6-1.5
		v-1.1l5.6,1.5V17.9z M7.8,15.3l-5.6-1.5v-1.1l5.6,1.5V15.3z M7.8,12.7l-5.6-1.5v-1.1l5.6,1.5V12.7z M7.8,10.1L2.2,8.6V7.5l5.6,1.5
		V10.1z M7.8,7.4L2.2,6V4.9l5.6,1.5V7.4z M2.2,3.4V2.3l5.6,1.5v1.1L2.2,3.4z"></path>
                                        <polygon points="17.4,3.3 11.7,4.8 11.7,11 17.4,9.6 	"></polygon>
                                        <path d="M19.3,0.1C19.2,0,19,0,18.9,0l-8.4,2.1v1l8-2v12.4l-3,0.7c-0.2,0.1-0.4,0.3-0.4,0.5v3L10.5,19v1l5.2-1.3c0,0,0,0,0,0
		c0.1,0,0.2-0.1,0.2-0.1c0,0,0,0,0,0l3.4-4.2c0,0,0,0,0-0.1c0-0.1,0.1-0.1,0.1-0.2c0,0,0,0,0,0V0.5C19.5,0.4,19.4,0.2,19.3,0.1z
		M16.1,16.8v-1.6l1.6-0.4L16.1,16.8z"></path>
                                    </svg>
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@current?.IssuerAccountNum</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PLN </font><font style="vertical-align: inherit;">@current?.Amount</font></font><br></p>
                        </div>
                    </div>
                </div>
                <div class="form__row -tight">
                    <div class="form__inner">
                    </div>
                </div> 
                <a @onclick="OK" id="cooperation_submit" name="cooperation[submit]" class="button cooperation__form-submit" disabled="disabled">
                    Confirm <span class="icon button__icon -right">
                        <svg>
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                </a>                
            </div>
        </div>
    </div>
</section>

@code {

    public class Transaction
    {
        public string ConnectionId { get; set; }
        public String ServiceName { get; set; }
        public String Quantity { get; set; }
        public String Amount { get; set; }
    }

    private string? customerName;
    private HubConnection _hubConnection;


    Request? current = new Request();

    protected async override Task OnParametersSetAsync()
    {
        current = await sessionStorage.GetItemAsync<Request>("request");        

    }

    protected override async Task OnInitializedAsync()
    {

        /*   base.OnInitialized();
           _hubConnection = new HubConnectionBuilder()
               .WithUrl($"{NavManager.BaseUri}api")
               .AddJsonProtocol(options =>
               {
                   options.PayloadSerializerOptions.PropertyNamingPolicy = null;
               })
               .Build();

           await _hubConnection.StartAsync();
           Console.WriteLine(_hubConnection.ConnectionId);         
          */
    }

    public ValueTask DisposeAsync()
    {
        return _hubConnection.DisposeAsync();
    }

    public async void OK()
    {
        /*
         * Transaction t = new Transaction();
        t.ServiceName = "Bill payment";
        t.Quantity = "1.00";
        t.Amount = "100.00";
        //await sessionStorage.SetItemAsync<Request>("request", current);
        //await _hubConnection.SendAsync("posTransaction", t);
        await Http.PostAsync($"{NavManager.BaseUri}api/messages", JsonContent.Create(t, typeof(Transaction)));
        //Http.PostAsync($"{NavManager.BaseUri}api/messages",
         */
        //current.Completed = true;
        
        NavManager.NavigateTo("/finalPage");
        
    }

}

