@page "/summary"

<section class="section contact">
    <div class="container section__container">
        <div>
            <div class="row">            
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">                    
                    <div class="aside">
                        <div class="aside__header">
                            <h3 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payer Information</font></font></h3>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                    <svg>
                                        <use xlink:href="#icon-map"></use>
                                    </svg>
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Surname, Name</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ul. </font><font style="vertical-align: inherit;">Street 1234</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">61-586 Poznań</font></font></p>
                        </div>
                    </div>
                </div>
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">
                    <div class="aside">
                        <div class="aside__header">
                            <h2 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Issuer Information</font></font></h2>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                    <svg>
                                        <use xlink:href="#icon-map"></use>
                                    </svg>
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enel S.p.a.</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ul. </font><font style="vertical-align: inherit;">Street 1234</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">61-586 Poznań</font></font></p>
                        </div>
                    </div>                    
                </div>
                <div class="grid__col -col-md-4 -col-lg-4 -col-xl-4">
                    <div class="aside">
                        <div class="aside__header">
                            <h2 class="title -p"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bill Details</font></font></h2>
                        </div>
                        <div class="aside__content">
                            <a class="aside__icon" href="https://translate.google.com/website?sl=auto&amp;tl=it&amp;hl=it&amp;client=webapp&amp;u=https://goo.gl/maps/TfaEmJQgvc72" target="_blank">
                                <span class="icon -xl">
                                    <svg>
                                        <use xlink:href="#icon-map"></use>
                                    </svg>
                                </span>
                            </a>
                            <h3 class="title -h5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Payment for Energy bill</font></font></h3>
                            <p class="text -large -marked"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PLN </font><font style="vertical-align: inherit;">80.00</font></font><br></p>
                        </div>
                    </div>
                </div>
                <div class="form__row -tight">
                    <div class="form__inner">
                    </div>
                </div> <a href="/" id="cooperation_submit" name="cooperation[submit]" class="button cooperation__form-submit" disabled="disabled">
                    Confirm <span class="icon button__icon -right">
                        <svg>
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

@code {

}
